@import '~antd/dist/antd.dark.css';

.code-box-demo {
    text-align: center;
}

.ant-layout-header,
.ant-layout-footer {
    background: #7dbcea;
    color: #fff;
}

[data-theme="dark"] .ant-layout-header {
    background: #6aa0c7;
}

[data-theme="dark"] .ant-layout-footer {
    background: #6aa0c7;
}

.ant-layout-footer {
    line-height: 1.5;
}

.ant-layout-sider {
    background: #3ba0e9;
    color: #fff;
    line-height: 120px;
}

[data-theme="dark"] .ant-layout-sider {
    background: #3499ec;
}

.ant-layout-content {
    background: rgba(16, 142, 233, 1);
    color: #fff;
    min-height: 120px;
    line-height: 120px;
}

[data-theme="dark"] .ant-layout-content {
    background: #107bcb;
}

> .code-box-demo > .ant-layout + .ant-layout {
    margin-top: 48px;
}